@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-2: rgb(226 232 240);
  --slate-3: rgb(203 213 225);
  --slate-6: rgb(71 85 105);
  --slate-7: rgb(51 65 85);
  --slate-8: rgb(30 41 59);
}

.h-85vh {
  height: 85vh;
}

.nav-toggleable > button {
  display: flex;
  height: 3.5rem;
  width: 90%;
  border: 2px solid var(--slate-7);
  border-radius: 20px;
  padding: 12px;
}

.nav-toggleable > button:hover {
  background-color: var(--slate-6);
}

.togglable-dropdown {
  width: 90%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(62, 79, 103);
  border-top: 0px !important;
}

.togglable-dropdown > button {
  height: 3rem;
  padding: 12px;
  width: 100%;
}

.togglable-dropdown > button:hover {
  background: var(--slate-6);
}

.togglable-dropdown > button:last-child {
  padding-bottom: 2rem;
}

/* ********* home page options ***********/

.homePageOptionsContainer {
  display: grid;
  grid-template-rows: 1.6fr 1fr;
  height: 100%;
}

/* Desktop */
@media (min-width: 1180.1px) {
  #app-desktop {
    display: block !important;
  }
  #app-tablet {
    display: none !important;
  }
  #app-mobile {
    display: none !important;
  }
  .logo-sizing {
    height: 100%;
    width: 4rem;
  }
  .company-header {
    height: 100%;
    width: 100px;
  }
  .modal {
    width: 30vw;
  }
}

/* header */

#app-desktop > .header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 6%;
}

#app-desktop > .header > div > div {
  display: flex;
  align-items: center;
}

#app-desktop > .header > div {
  height: 100%;
}

/* navigation */

.app-desktop-container {
  height: 94%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.app-desktop-container > .navigation {
  display: grid;
  grid-template-rows: 5fr 1fr;
}

/* events section */

.eventsGrid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.5fr 2fr 1fr 1fr;
}

.CardContainer {
  max-height: 60vh;
  overflow: auto;
  padding-bottom: 20px;
}

.CardBox:nth-child(odd) {
  background-color: var(--slate-2);
  border-right: 2px solid var(--slate-3) !important;
}

#card {
  margin-top: 10px;
}

#card > div {
  display: flex;
  align-items: center;
  border-right: 2px solid var(--slate-3);
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.contentHeader > h1 {
  /* border-right: 1px solid white; */
  padding-left: 5px;
  padding-right: 5px;
}

#card > div:nth-child(1) {
  margin-left: 14px;
}

/* food section */

.foodGrid {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 0.4fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
}

.foodGrid > div {
  overflow: auto;
}

/* drinks section */

.drinksGrid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1.6fr 1.6fr 0.5fr 1fr;
}

/* btns */

.editBtn {
  padding: 5px;
  width: 60px;
  border: 2px solid var(--slate-7);
  border-right: 2px solid rgb(230, 230, 236);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 18px;
}

.deleteBtn {
  padding: 5px;
  width: 60px;
  border: 2px solid var(--slate-7);
  border-left: none;
}

/* tablet */
@media (max-width: 1180px) {
  #app-desktop {
    display: none !important;
  }
  #app-tablet {
    display: block !important;
  }
  #app-mobile {
    display: none !important;
  }
  .logo-sizing {
    height: 100%;
    width: 4rem;
  }
  .company-header {
    height: 100%;
    width: 100px;
  }
  .modal {
    width: 60vw;
  }
}

#app-tablet > .header {
  display: grid;
  grid-template-columns: 0.6fr 1.3fr 2fr 1fr;
}

#app-tablet > .header > div > div {
  display: flex;
  align-items: center;
}

.navigation-tablet {
  position: fixed;
  transform: translateY(10vh);
  width: 250px;
  background-color: var(--slate-8);
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-tablet-container {
  width: 100vw;
  height: 94vh;
}

/* mobile */
@media (max-width: 640px) {
  #app-desktop {
    display: none !important;
  }
  #app-tablet {
    display: none !important;
  }
  #app-mobile {
    display: block !important;
  }
  .logo-sizing {
    height: 100%;
    width: 4rem;
  }
  .company-header {
    height: 100%;
    width: 100px;
  }
  .modal {
    width: 95vw;
  }
}

#app-mobile > .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#app-mobile > .header > div > div {
  display: flex;
  align-items: center;
}

/* end mobile */

/* HamToXBtnCSS */

#HTXB {
  width: 50px;
  height: 50px;
  margin: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#HTXB span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #e4e4e4;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#HTXB span:nth-child(1) {
  top: 0px;
}

#HTXB span:nth-child(2),
#HTXB span:nth-child(3) {
  top: 18px;
}

#HTXB span:nth-child(4) {
  top: 36px;
}

#HTXB.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#HTXB.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#HTXB.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#HTXB.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
